<a href="https://colab.research.google.com/github/sauravakolia/Plant-Pathology-2020---FGVC7/blob/master/ensemble.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
os.mkdir('plant-pathology-2020-fgvc7')

In [ ]:
%cd  '/content/plant-pathology-2020-fgvc7'

/content/plant-pathology-2020-fgvc7

In [ ]:
# !kaggle competitions download -c plant-pathology-2020-fgvc7 -p /content/plant-pathology-2020-fgvc7/

In [ ]:
!wget --header 'Host: storage.googleapis.com' --user-agent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:76.0) Gecko/20100101 Firefox/76.0' --header 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8' --header 'Accept-Language: en-US,en;q=0.5' --referer 'https://www.kaggle.com/' --header 'Upgrade-Insecure-Requests: 1' 'https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18648/1026645/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1590244341&Signature=rWRur%2FF3R9RDRY%2FvzanR8eG29Hw5ikEWTQ5rR16bJzjLIrom9stYFbfCbDXNbgZAuZufDL7OgwYayIwm9zm8nZNVdlyW9MMrle7NsGqgfDtBkZBRG92epvBxpj%2BIwGB2wKDbQw9UC3Ws1AWmhq%2B9OE7tZF3R7MeC22%2BiLurabSq0HFLZMI1SMPUuh9c2rJ6e6ZhUyd3RjUmmglxGpsrd0CTZZxt%2FlWKjCkx7A15MiJpF5TjqQ%2FYfxsiY%2FB4svVRKCVu1G2SLDLqdi4E87BWYwaTsMuFFwPS%2F5wUEGR9ymxrIj6pXTDlaOmI33pZSG%2FdT73LS%2FnX5aPSjqo6TuVxBdQ%3D%3D&response-content-disposition=attachment%3B+filename%3Dplant-pathology-2020-fgvc7.zip' --output-document 'plant-pathology-2020-fgvc7.zip'

--2020-05-20 14:33:28--  https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18648/1026645/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1590244341&Signature=rWRur%2FF3R9RDRY%2FvzanR8eG29Hw5ikEWTQ5rR16bJzjLIrom9stYFbfCbDXNbgZAuZufDL7OgwYayIwm9zm8nZNVdlyW9MMrle7NsGqgfDtBkZBRG92epvBxpj%2BIwGB2wKDbQw9UC3Ws1AWmhq%2B9OE7tZF3R7MeC22%2BiLurabSq0HFLZMI1SMPUuh9c2rJ6e6ZhUyd3RjUmmglxGpsrd0CTZZxt%2FlWKjCkx7A15MiJpF5TjqQ%2FYfxsiY%2FB4svVRKCVu1G2SLDLqdi4E87BWYwaTsMuFFwPS%2F5wUEGR9ymxrIj6pXTDlaOmI33pZSG%2FdT73LS%2FnX5aPSjqo6TuVxBdQ%3D%3D&response-content-disposition=attachment%3B+filename%3Dplant-pathology-2020-fgvc7.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.204.128, 2607:f8b0:400c:c10::80
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.204.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 817072693 (779M) [application/zip]
Saving to: ‘plant-pathology-2020-fgvc7.zip’

plant-pathology-202 100%[===================>] 779.22M   239MB/s    in 3.4s

2020-05-20 14:33:32 (230 MB/s) - ‘plant-pathology-2020-fgvc7.zip’ saved [817072693/817072693]

In [ ]:
import os
import zipfile

local_zip = '/content/plant-pathology-2020-fgvc7/plant-pathology-2020-fgvc7.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('data')
zip_ref.close()

In [ ]:
all_submissions = os.listdir('SubFiles')

In [ ]:
all_submissions=['submit9.csv', 'submit8.csv','submit7.csv','submit4.csv','submit12.csv']

In [ ]:
l=len(all_submissions)
l

4

In [ ]:
sumb = pd.read_csv('/content/plant-pathology-2020-fgvc7/data/sample_submission.csv')

In [ ]:
test = pd.read_csv('/content/plant-pathology-2020-fgvc7/data/test.csv')
# test['image_id']

In [ ]:
submission=pd.DataFrame(columns=sumb.columns)

In [ ]:
submission=submission.astype({'image_id':str,'healthy':float,'multiple_diseases':float,'rust':float,'scab':float})

In [ ]:
submission['image_id']=test['image_id']

In [ ]:
for col in submission.columns:
  if(col!='image_id'):
    submission[col].values[:] = 0

In [ ]:
submission.dtypes

image_id              object
healthy              float64
multiple_diseases    float64
rust                 float64
scab                 float64
dtype: object

In [ ]:
submission

       image_id  healthy  multiple_diseases  rust  scab
0        Test_0      0.0                0.0   0.0   0.0
1        Test_1      0.0                0.0   0.0   0.0
2        Test_2      0.0                0.0   0.0   0.0
3        Test_3      0.0                0.0   0.0   0.0
4        Test_4      0.0                0.0   0.0   0.0
...         ...      ...                ...   ...   ...
1816  Test_1816      0.0                0.0   0.0   0.0
1817  Test_1817      0.0                0.0   0.0   0.0
1818  Test_1818      0.0                0.0   0.0   0.0
1819  Test_1819      0.0                0.0   0.0   0.0
1820  Test_1820      0.0                0.0   0.0   0.0

[1821 rows x 5 columns]

In [ ]:
for sub in all_submissions:
  df = pd.read_csv('SubFiles/'+sub)
  submission['healthy']=submission['healthy']+df['healthy']
  submission['multiple_diseases']=submission['multiple_diseases']+df['multiple_diseases']
  submission['rust']=submission['rust']+df['rust']
  submission['scab']=submission['scab']+df['scab']

submission['healthy']=submission['healthy']/l
submission['multiple_diseases']=submission['multiple_diseases']/l
submission['rust']=submission['rust']/l
submission['scab']=submission['scab']/l

In [ ]:
submission

       image_id   healthy  multiple_diseases      rust      scab
0        Test_0  0.004007           0.017418  0.977772  0.000803
1        Test_1  0.000049           0.003898  0.995149  0.000904
2        Test_2  0.000301           0.000135  0.000006  0.999557
3        Test_3  0.892506           0.000066  0.107209  0.000219
4        Test_4  0.000010           0.001584  0.998398  0.000009
...         ...       ...                ...       ...       ...
1816  Test_1816  0.000028           0.013134  0.986741  0.000097
1817  Test_1817  0.000101           0.019171  0.000290  0.980439
1818  Test_1818  0.000099           0.005823  0.993957  0.000121
1819  Test_1819  0.995018           0.000233  0.003562  0.001187
1820  Test_1820  0.009220           0.025629  0.000114  0.965038

[1821 rows x 5 columns]

In [ ]:
submission.set_index("image_id",inplace=True)

In [ ]:
submission

            healthy  multiple_diseases      rust      scab
image_id
Test_0     0.004007           0.017418  0.977772  0.000803
Test_1     0.000049           0.003898  0.995149  0.000904
Test_2     0.000301           0.000135  0.000006  0.999557
Test_3     0.892506           0.000066  0.107209  0.000219
Test_4     0.000010           0.001584  0.998398  0.000009
...             ...                ...       ...       ...
Test_1816  0.000028           0.013134  0.986741  0.000097
Test_1817  0.000101           0.019171  0.000290  0.980439
Test_1818  0.000099           0.005823  0.993957  0.000121
Test_1819  0.995018           0.000233  0.003562  0.001187
Test_1820  0.009220           0.025629  0.000114  0.965038

[1821 rows x 4 columns]

In [ ]:
submission.to_csv('ensemble4.csv')